:root {
  --swatch-size: 84px;
}

header {
  padding: 1em 1em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

form {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

fieldset {
  appearance: none;
  display: inline-flex;
  gap: 0.5em;
  border: none;
}
legend {
  float: left;
}
fieldset input[type="radio"] {
  margin-right: -0.25em;
}

table {
  table-layout: fixed;
  overflow-x: auto;

  width: calc(var(--swatch-size) * 14 + 0.25em * 16);
  margin: 1em auto;
  box-sizing: border-box;
  border-spacing: 0 0.25em;

  font-variant-numeric: tabular-nums;
  text-align: center;
}

thead th.swatch {
  height: auto;
}

th {
  width: var(--swatch-size);
}
